/* スクロールのためのdiv start */
div.smart-table {
	clear: both;
	width: 100%;
	height:auto;
}
div.smart-table textarea {
	resize: none;
}
div.smart-table th, div.smart-table td {
	white-space: nowrap;
}
div.smart-table div.smart-table-header {
}
div.smart-table-header, div.smart-table-body {
	overflow: hidden;
}
div.smart-table div.smart-table-body {
	overflow: auto;
}
div.smart-table .td-lg {
	width: 120px;
}
div.smart-table .td-md {
	width: 100px;
}
div.smart-table .td-sm {
	width: 80px;
}
div.smart-table .td-xs {
	width: 60px;
}
div.smart-table div.td-ck {
	text-align: center;
	width: 20px;
}
/* スクロールのためのdiv end */

/* テーブル start */
div.smart-table table {
	float: left;
	width: auto;
	font-size: 14px;
	border-collapse: separate;
	border-spacing: 0;
}
div.smart-table div.smart-table-header table tr {
	background: linear-gradient(#ffffff, #dddddd);
	-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));　/* Safari,Google Chrome用 */
}
div.smart-table div.smart-table-header table th {
	height: 25px;
	border-left: 1px solid #fffddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #ffffff;
	padding: 3px 5px 2px 5px;
	text-align: left;
	vertical-align: top !important;
	overflow: hidden;
}
div.smart-table div.smart-table-header div.space {
	height:25px;
	overflow: hidden;
	background: linear-gradient(#ffffff, #dddddd);
	-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#dddddd));　/* Safari,Google Chrome用 */
	border-bottom: 1px solid #ffffff;
}
div.smart-table div.smart-table-header table th.sort:hover,
div.smart-table div.smart-table-header table th.sort:focus{
	cursor: pointer;
	border-bottom: 1px solid orange;
}
div.smart-table div.smart-table-body table tr:nth-child(odd) {
	background-color: #ffffff;
}
div.smart-table div.smart-table-body table tr:nth-child(even) {
	background-color: #EAEAEA;
}
div.smart-table div.smart-table-body table td {
	padding: 3px 5px 2px 5px;
	border-left: 1px solid #fffddd;
	border-right: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	overflow: hidden;
}
div.smart-table div.smart-table-body div.space {
	overflow: hidden;
	background-color: #ffffff;
}
div.smart-table div.smart-table-footer table {
	width: 100%;
}
div.smart-table div.smart-table-footer table tr {
	background: linear-gradient(#dddddd, #cccccc);
	-webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#cccccc));　/* Safari,Google Chrome用 */
	height: 25px;
}
div.smart-table div.smart-table-footer table td {
	padding: 3px 5px 2px 5px;
	text-align: left;
	vertical-align: top !important;
	background-color: transparent;
}
div.smart-table table .click {cursor: pointer;}
/* テーブル end */

/* テーブルページング用フッター start */
div.smart-table table div.pBlock {
	float: left;
}
@media (min-width: 1024px) {
	div.smart-table table div.btnseparator {
		border-left: 1px solid #ccc;
		border-right: 1px solid #fff;
		float: left;
		height: 22px;
		margin: 0px;
	}
	div.smart-table table div.pButton {
		border: 0 none;
		cursor: pointer;
		float: left;
		height: 25px;
		overflow: hidden;
		width: 25px;
	}
	div.smart-table table div.pGroup {
		float: left;
		margin: 0 5px;
	}
	/* 更新 */
	input.pReload {
		background:url(images/icon_reload.png) no-repeat left top;
		width: 25px;
		height: 25px;
	}
	/* 先頭 */
	input.pFirst {
		background:url(images/icon_start.png) no-repeat left top;
		width: 25px;
		height: 25px;
	}
	/* 前へ */
	input.pPrev {
		background:url(images/icon_back.png) no-repeat left top;
		width: 25px;
		height: 25px;
	}
	/* 次へ */
	input.pNext {
		background:url(images/icon_next.png) no-repeat left top;
		width: 25px;
		height: 25px;
	}
	/* 最後 */
	input.pLast {
		background:url(images/icon_end.png) no-repeat left top;
		width: 25px;
		height: 25px;
	}
}
@media (max-width: 1024px) {
	div.smart-table table div.btnseparator {
		border-left: 1px solid #ccc;
		border-right: 1px solid #fff;
		float: left;
		height: 43px;
		margin: 1px;
	}
	div.smart-table table div.pButton {
		border: 0 none;
		cursor: pointer;
		float: left;
		height: 46px;
		overflow: hidden;
		width: 46px;
	}
	div.smart-table table div.pGroup {
		float: left;
		margin: 0 5px;
		height: 46px;
	}
	/* 更新 */
	input.pReload {
		background:url(images/icon_reload_s.png) no-repeat left top;
		width: 46px;
		height: 46px;
	}
	/* 先頭 */
	input.pFirst {
		background:url(images/icon_start_s.png) no-repeat left top;
		width: 46px;
		height: 46px;
	}
	/* 前へ */
	input.pPrev {
		background:url(images/icon_back_s.png) no-repeat left top;
		width: 46px;
		height: 46px;
	}
	/* 次へ */
	input.pNext {
		background:url(images/icon_next_s.png) no-repeat left top;
		width: 46px;
		height: 46px;
	}
	/* 最後 */
	input.pLast {
		background:url(images/icon_end_s.png) no-repeat left top;
		width: 46px;
		height: 46px;
	}
}
/* テーブルページング用フッター end */

.name-img{
    width: 100px;
    height: 100px;
    display:table;
    text-align: center;
    padding:0;
    float:left;
}
.name-img > *{
    display:table-cell;
    vertical-align: middle;
}
