@charset "utf-8";

/*初期化
-------------------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
q:before,q:after{content:'';}

/*基本設定
-------------------------------------------------------------------------*/
body {
	font: 80% arial,helvetica,clean,sans-serif;
	text-align:center;
	margin:0px auto;
}

table {
	border-collapse:collapse; 
}

#contents {
  width:800px;
  background:#ffffff;
  text-align:left;
  position: relative;
}


/*その他
-------------------------------------------------------------------------*/
br.clear {
	clear: both;
	line-height: 1px;
	font-size: 1px;
}
span.hide {
	display: none;
}