/*------------------------------------------------------------------------------------
  ログイン画面
------------------------------------------------------------------------------------*/
/*.login_wrapper{width:100%}*/

div#contentsArea div.login_wrapper{
	margin:100px 0;
}

div#contentsArea div.login_wrapper_padding{
	background-color:#999999; 
	border:2px solid #66849B;
	clear: both;
	color:#000000;
	padding: 10px 20px;
	width: 350px;
	margin:0 auto;
}


.loginTable {
	width:100%;
	border:none;
	font-size: 17px;
}

.loginTable td {
	padding:12px 6px 12px 6px;
}

.login_wrapper .error-message {
	color: #ca0000;
	background: none;
	border: none;
	padding: 0 0 0 80px;
	margin-bottom: 10px;
	font-weight: bold;
}

.login_wrapper input[type="submit"], input[type="reset"], input[type="button"] {
	font-weight: bold;
	font-size: 14px;
	padding: 4px 12px 4px 15px;
	letter-spacing:5px;
}

/* レスポンシブ対応 start */
/* 汎用class */
@media (min-width: 768px) {
}
@media (max-width: 768px) {
}

@media (max-width: 520px) {
	div#contentsArea div.login_wrapper{
		margin:30px 0;
	}
	div#contentsArea div.login_wrapper_padding{
		width:100%;
	}
	input[type="text"] {
		width:100%;	
	}
}

/*
@media (min-width: 1200px) {
}
*/

/* 汎用class end */
