.calmain { border-bottom: 2px solid rgb(195, 217, 255); background: none repeat scroll 0% 0% rgb(195, 217, 255); }
.printborder { border-left: 9px solid rgb(195, 217, 255); }
#gridcontainer { height: 300px; background: none repeat scroll 0% 0% rgb(195, 217, 255); position: relative; }
.st-grid { position: relative; table-layout: fixed; width: 100%; }
.st-c { padding: 1px 1px 0pt 2px; vertical-align: top; font-family: Verdana,sans-serif; }
.st-s { padding-bottom: 2px; cursor: default; }
.t1 { font-size: 1px; height: 1px; line-height: 1px; margin: 0pt 2px; overflow: hidden; }
.t2 { font-size: 1px; height: 1px; line-height: 1px; margin: 0pt 1px; overflow: hidden; }
.chromeColor { background: none repeat scroll 0% 0% rgb(195, 217, 255); border-color: rgb(195, 217, 255); }
.cic { background-repeat: no-repeat; display: inline-block; margin-left: 2px; width: 9px; height: 7px; line-height: 7px; background-image: url('combined.gif'); }
.cic-tmr { background-position: -28px -57px; }
.rb-o { margin: 0pt 1px; border-width: 1px 0pt; border-style: solid; cursor: pointer; }
.rb-m { padding-left: 3px; margin: 0pt -1px; border-width: 0pt 1px; border-style: solid; }
.rb-i { overflow: hidden; color: white; white-space: nowrap; width: 100%; }
.mv-container { height: 100%; position: relative; line-height: 14px; white-space: nowrap; }
.mv-container th { font-size: 12px; }
.st-contents, .mv-container { font-size: 11px; line-height: 14px; }
.mv-daynames-table { position: absolute; table-layout: fixed; top: 0pt; left: 0pt; width: 100%; background: none repeat scroll 0% 0% rgb(195, 217, 255); color: rgb(17, 42, 187); }
.mv-dayname { font-weight: normal; }
.mv-event-container { overflow: hidden; position: absolute; left: 0pt; width: 100%; top: 14px; bottom: 0pt; background: none repeat scroll 0% 0% white; }
.month-row { position: absolute; left: 0pt; width: 100%; overflow: hidden; }
.st-bg-table { position: absolute; top: 0pt; left: 0pt; height: 100%; width: 100%; table-layout: fixed; }
.st-bg { border-left: 1px solid rgb(195, 217, 255); }
.st-dtitle { border-left: 1px solid rgb(195, 217, 255); border-top: 1px solid rgb(195, 217, 255); background-color: rgb(232, 238, 247); color: rgb(68, 68, 68); padding-right: 2px; text-align: right; line-height: 16px; overflow: hidden; }
.st-dtitle-nonmonth { background-color: rgb(238, 238, 238); color: rgb(119, 119, 119); }
.cc { position: absolute; border: 1px solid gray; background-color: white; visibility: hidden; }
.cc-close { margin: 2px 2px 0pt 0pt; position: absolute; right: 0pt; cursor: pointer; width: 15px; height: 15px; background: url('combined.gif') repeat scroll 0pt -50px transparent; }
.cc-title { padding: 2px; font-weight: bold; }
.monthdayshow { cursor: pointer; }
.monthdayshow:hover { text-decoration: underline; }


.bbit-dp { position: absolute; width: 175px; border: 1px solid rgb(113, 139, 183); overflow: hidden; padding: 0pt; font-size: 11px; font-family: tahoma,verdana,sans-serif; visibility: hidden; background: none repeat scroll 0% 0% rgb(255, 255, 255); left: 0px; top: 0px; }
.bbit-dp em { font-style: normal; font-weight: normal; }
.bbit-dp table { width: 100%; table-layout: fixed; border-collapse: separate; }
.bbit-dp td th { margin: 0px; }
.bbit-dp-top-center { font: 11px tahoma,verdana,helvetica; cursor: pointer; white-space: nowrap; color: rgb(255, 255, 255); text-align: center; }
.bbit-dp-top-center button { border: 0pt none; padding-right: 10px; background: url('btn-arrow-light.gif') no-repeat scroll right top transparent; font: 11px tahoma,verdana,helvetica; padding-left: 3px; color: rgb(255, 255, 255); cursor: pointer; margin: 0pt; overflow: visible; width: auto; outline: 0pt none; }
.bbit-dp-top-right { height: 21px; }
.bbit-dp .bbit-dp-top { background: url('hd-sprite.gif') repeat-x scroll 0px -83px transparent; }
.bbit-dp-top-right, .bbit-dp-top-left { width: 18px; }
.bbit-dp-top-right { text-align: right; }
.bbit-dp-top-right a, .bbit-dp-top-left a { display: block; width: 16px; height: 16px; background-position: center center; background-repeat: no-repeat; cursor: pointer; opacity: 0.6; }
.bbit-dp-top-right a:hover, .bbit-dp-top-left a:hover { opacity: 1; }
.bbit-dp-top-left a { background: url('left-btn.gif') repeat scroll 0% 0% transparent; margin-left: 2px; }
.bbit-dp-top-right a { background: url('right-btn.gif') repeat scroll 0% 0% transparent; margin-left: 2px; }
.bbit-dp-inner th, .bbit-dp-inner td { border-collapse: separate; }
.bbit-dp-inner th { width: 25px; background: url('') repeat-x scroll left top rgb(223, 236, 251); text-align: right ! important; border-bottom: 1px solid rgb(163, 186, 217); color: rgb(35, 61, 109); cursor: default; padding: 0pt; border-collapse: separate; }
.bbit-dp-inner th span { display: block; padding: 2px 7px 2px 2px; font: 10px arial,helvetica,tahoma,sans-serif; }
.bbit-dp a { text-decoration: none; color: black; }
.bbit-dp-bottom { padding: 2px; border-top: 1px solid rgb(163, 186, 217); background: url('glass-bg.gif') repeat-x scroll left top rgb(223, 236, 251); }
.bbit-dp-mp { position: absolute; left: 0pt; top: 0pt; background: none repeat scroll 0% 0% white; display: none; }
.bbit-dp-mp td { padding: 2px; font: 11px arial,helvetica,tahoma,sans-serif; }
td.bbit-dp-mp-month, td.bbit-dp-mp-year, td.bbit-dp-mp-ybtn { border: 0pt none; text-align: center; vertical-align: middle; width: 25%; }
.bbit-dp-mp-ok { margin-right: 3px; }
.bbit-dp-mp-btns button { width: 45px; text-align: center; text-decoration: none ! important; background: none repeat scroll 0% 0% rgb(8, 55, 114); color: white; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; border-color: rgb(51, 102, 204) rgb(0, 0, 85) rgb(0, 0, 85) rgb(51, 102, 204); padding: 1px 3px; font: 11px arial,helvetica,tahoma,sans-serif; cursor: pointer; }
.bbit-dp-mp-btns { background: url('glass-bg.gif') repeat-x scroll left top rgb(223, 236, 251); }
.bbit-dp-mp-btns td { border-top: 1px solid rgb(197, 210, 223); text-align: center; }
td.bbit-dp-mp-month a, td.bbit-dp-mp-year a { display: block; padding: 2px 4px; text-decoration: none; text-align: center; color: rgb(21, 66, 139); }
td.bbit-dp-mp-month a:hover, td.bbit-dp-mp-year a:hover { color: rgb(21, 66, 139); text-decoration: none; cursor: pointer; background: none repeat scroll 0% 0% rgb(221, 236, 254); }
.bbit-dp-mp-ybtn a { overflow: hidden; width: 15px; height: 15px; cursor: pointer; background: url('tool-sprites.gif') no-repeat scroll 0% 0% transparent; display: block; margin: 0pt auto; }
.bbit-dp-mp-ybtn a.bbit-dp-mp-next { background-position: 0pt -120px; }
.bbit-dp-mp-ybtn a.bbit-dp-mp-next:hover { background-position: -15px -120px; }
.bbit-dp-mp-ybtn a.bbit-dp-mp-prev { background-position: 0pt -105px; }
.bbit-dp-mp-ybtn a.bbit-dp-mp-prev:hover { background-position: -15px -105px; }
.bbit-dp-mp-ybtn { text-align: center; }
td.bbit-dp-mp-sep { border-right: 1px solid rgb(197, 210, 223); }
.bbit-dp-input { width: 100px; height: 18px; padding-left: 4px; }

html { margin: 0px; padding: 0px; height: 100%; width: 100%; }

body { margin: 0pt; background-color: rgb(232, 241, 248); font-size: 12px; font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; padding: 0pt; height: 100%; width: 100%; }

div, span, td { font-family: "Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif; }

a:link, a:visited { text-decoration: none; color: rgb(51, 51, 51); }
a:hover { text-decoration: underline; color: rgb(100, 100, 100); }

input { border: 1px solid rgb(60, 127, 177); }

span.addcal { padding: 3px 10px 0px 27px; border-right: dotted 1px #633; background: url('date_add.png') no-repeat scroll 5px 4px transparent; }

span.showtoday { padding: 3px 10px 0px 27px; border-right: dotted 1px #633; background: url('date.png') no-repeat scroll 5px 3px transparent; }

span.showdayview { padding: 3px 10px 0px 27px; border-right: dotted 1px #633; background: url('cal-day.gif') no-repeat scroll 5px 5px transparent; }

span.showweekview { padding: 3px 10px 0px 27px; border-right: dotted 1px #633; background: url('cal-week.gif') no-repeat scroll 5px 5px transparent; }

span.showmonthview { padding: 3px 10px 0px 30px; border-right: dotted 1px #633;; background: url('cal-month.gif') no-repeat scroll 5px 3px transparent; }

span.showdayflash {  padding: 3px 10px 0px 27px;border-right: dotted 1px #633; background: url('date_reflash.png') no-repeat scroll 3px 3px transparent; }

span.fprev { width: 20px; background: url('resultset_previous.png') no-repeat scroll 1px 4px transparent; }

span.fnext { width: 20px;border-right: dotted 1px #633;  background: url('resultset_next.png') no-repeat scroll 1px 4px transparent; }






div.clear { clear: both; }

div.cHead { background: url('') repeat-x scroll center top transparent; border-right: 1px solid rgb(153, 187, 232); border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(153, 187, 232) rgb(153, 187, 232); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-image: none; font-weight: bold; display: block; overflow: hidden; white-space: nowrap; position: relative; }

body {
	background-image: url(../img/bg_top.gif);
	background-size:100% 1080px;
}
/*スマホ版だと小さくする*/
@media (max-width: 480px) {
	body {
		background-image: url(../img/bg_top_phone.gif); 
		background-size:100% 1080px;
	}
}
div.container {
	margin: 30px auto auto auto;
	padding: 20px;
	width: auto;
}
/*スマホ版だと余白を小さくする*/
@media (max-width: 480px) {
	div.container {
		margin: 0px;
		padding: 3px;
		width: auto;
	}
}

/* メニューエリア start */
.header-top {
	padding-top: 5px;
	margin-left: 20px;
}
/*スマホ版だと余白を小さくする*/
@media (max-width: 480px) {
	.header-top {
		padding-top: 5px;
		margin-left: 3px;
	}
}

@media (min-width: 480px) {
	.xs-visible {
		display: none;
		visibility: hidden;
	}
}

@media (max-width: 480px) {
	.xs-invisible {
		display: none;
		visibility: hidden;
	}
}

div.cHead div { padding: 4px; white-space: nowrap; }
div.cHead div.ftitle { background: url('grid.png') no-repeat scroll left center transparent; color: #fff; margin-left: 10px; padding-left: 20px; }
div.cHead div.ptogtitle { position: absolute; top: 3px; right: 15px; height: 18px; padding: 1px 2px; font-weight: normal; }
div.cHead div.loadicon { background: none repeat scroll 0% 0% rgb(204, 68, 68); color: rgb(255, 255, 255); }
div.cHead div.loaderror { padding: 1px 4px; background: none repeat scroll 0% 0% rgb(250, 209, 99); }

div.ctoolbar { background: url('') ; overflow: hidden; position: relative; }

div.div.fbutton { padding: 1px; display: block; float: left; cursor: pointer; height: 22px; margin-left: 1px; }

div.ctoolbar div.fbutton div { float: left; padding: 2px 0px; }
div.ctoolbar div.fbutton span { float: left; display: block; height: 18px; }
div.ctoolbar div.fbutton.fcurrent {  padding: 0pt; cursor: pointer; background: rgb(237, 241, 213); }
div.ctoolbar div.fbutton.fcurrent div { padding: 1px 0px 1px 1px;background: rgb(237, 241, 213);}
div.ctoolbar div.fbutton:hover, .div.ctoolbar div.fbutton.fbOver {
	cursor: pointer;
}
div.ctoolbar div.fbutton:hover div, .div.ctoolbar div.fbutton.fbOver div {background-color: rgb(237, 241, 213); }





div.ctoolbar div.fshowdatep { padding: 1px; display: block; float: left; cursor: default; height: 22px; }
div.ctoolbar div.fshowdatep div { float: left; padding: 2px 3px; }
div.ctoolbar div.fshowdatep span { float: left; display: block; }
