div.ctoolbar {
    background: url("") repeat scroll 0 0 rgba(0, 0, 0, 0);
    overflow: hidden;
    position: relative;
    border-width: 0;
}

div.ctoolbar div.btnseparator {
    border-left: 1px dotted #633;
    border-right: 0px;
    float: left;
    height: 25px;
    margin: 1px;
}
