/* CSS Document */

body {
	font-size: 12px;
}
h4 {
	font-size: 16px;
	font-weight:bold;
	padding-left: 10px;
	background-color: #d4d4d4;
}
h4 label, h4 input {
	font-size: 12px;
	font-weight: normal;
}
table#order_layout {
	max-width:1250px;
	margin-bottom:5px;
}
table#order_layout td {
	vertical-align: top;
	padding-right:3px;
}
table#order_layout table.table_plain th{
	text-align:right;
	vertical-align: middle;
	padding-right:3px;
	font-weight: normal;
	white-space: nowrap;
}
table#order_layout table.table_plain td{
	vertical-align: middle;
}
table#meisaiListTable {
	font-size:12px;
}
table#meisaiListTable thead {
    float: left;
}
table#meisaiListTable thead tr {
    background-color: #e9e9e9;
}
table#meisaiListTable th {
	text-align: center;
    border: 1px solid;
	font-weight: normal;
}
table#meisaiListTable tbody {
    float: left;
    max-height: 200px;
    min-height: 100px;
    overflow: auto;
}
table#meisaiListTable tbody tr {
    float: left;
}
table#meisaiListTable tbody td {
    border-style: solid;
    border-width: 0 1px 1px;
}
table#meisaiListTable tbody td.checkDelete {
	cursor: pointer;
}
table#meisaiListTable tbody td.deleteTr {
    background-color:#ffcc99;
}
table#meisaiListTable tbody td input.readOnly[type="text"]:focus {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
table#meisaiListTable tbody td input[type="text"]:disabled {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}