body {
	font-size: 13px;
}
.navbar {
	font-size: 14px;
}

.table thead tr th, .table tbody tr th, .table tfoot tr th {
	padding: 7px 5px 3px 5px;
	line-height: 1.8em;
}

.table thead tr td, .table tbody tr td, .table tfoot tr td {
	padding: 3px;
	vertical-align: middle;
	line-height: 1.8em;
}


select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	padding: 4px 3px;
	height: 1.8em;
	line-height: 1.8em;
	font-size: 1em;
}

select, textarea {
	padding: 2px 3px;
	line-height: 1.5em;
	font-size: 1em;

}

select, input[type="file"] {
	height: 1.8em;
	line-height: 1.8em;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	border: 1px solid #aaa;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}