@charset "utf-8";
/*基本設定
-------------------------------------------------------------------------*/
body{
	color: #363433;
	background: #F7F7F9 url(../img/body_bg.gif) 50% 0% repeat-y;
}
#contents{
	position: relative;
	width: 770px;
	margin: 0 auto;
	background-color: #FFFFFF;
}

/*header
-------------------------------------------------------------------------*/
div#header{
	height: 45px;
	background: #FFFFFF;
	padding-top: 5px;
}
h1{
	width: 770px;
	float: left;
	height: 45px;
	padding-top: 15px;
	padding-left: 15px;
	font-size:18px;
}

/*main
-------------------------------------------------------------------------*/
#main{
	clear: both;
	margin: 20px 20px 20px 20px;
}
h3{
	clear: both;
	padding: 2px 0px 0.35em 4px;
	margin: 0.8em 0px 0.5em 0px;
	background: url(../img/h3_bg.gif) 0px 100% repeat-x;
	font-size: 107%;
	font-weight: bold;
}

/*footer
-------------------------------------------------------------------------*/
div#footer{
	height: 5px;
	clear: both;
	padding-top: 6px;
}
